<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
<div class="articles__main">
    <app-big-card 
    photoCover="https://1.bp.blogspot.com/-X6et1vRHESE/X2J1GpsIksI/AAAAAAAAeB0/BxweFJFrtBYzvXlYD3PhfbF6rPZJoy6qgCLcBGAsYHQ/s1600/hogwarts-legacy-capa.jpg" 
    cardTitle="Tudo o que sabemos sobre Hogwarts Legacy" 
    cardDescription="Hogwarts Legacy é um dos jogos mais esperados dos últimos anos. Ele permitirá que os jogadores possam finalmente experimentar a vida de estudante na Escola de Magia e Bruxaria de Hogwarts. Nela, você aprenderá como ser um bruxo poderoso enquanto descobre um segredo obscuro que fica no centro do mundo bruxo."
    >
</app-big-card>
</div>
<div class="artivles__others">
    <app-small-card
        photoCover="https://t.ctcdn.com.br/PwZgwYL03Aj0LdoYlvaYi67VLdI=/720x405/smart/filters:format(webp)/i572868.png"
        cardTitle="Data de lançamento de Hogwarts Legacy"
    ></app-small-card>

    <app-small-card
        photoCover="https://t.ctcdn.com.br/nS5s3MiR0bUTfAcBOwkg4u9AA7I=/720x405/smart/filters:format(webp)/i575347.jpeg"
        cardTitle="J.K. Rowling está envolvida em Hogwarts Legacy?"
    ></app-small-card>


    <app-small-card
        photoCover="https://static1-br.millenium.gg/articles/0/13/52/0/@/149341-personnages-hogwarts-orig-2-article_cover_bd-1.jpg"
        cardTitle="Hogwarts Legacy: 5 novos personagens são revelados"
    ></app-small-card>
</div>
</div>